body, html {
  margin: 0;
  padding: 0;
}
.hdr{
  display: flex;
  flex-direction: column;
  background: url("./asset/background.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.srch{
  position: absolute;
  top: 20%;
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.srch-bar{
  width: 50%;
  height: 50px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.srch input{
  font-size: 16px;
  padding: 8px 18px;
  width: 100%;
  outline: none;
  border: none;
}
.srch-btn{
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 10%;
}
.nav-logo img{
  width: 120px;
}
.nav-items ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding-right: 25px;
  color: white;
}
.nav-items ul li{
  padding: 0 10px;
  font-size: 18px;
}
.nav-items ul li img{
  width: 30px;
}
.login-btn{
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: white;
  width: 60px;
}
.filters{
  position: absolute;
  right: 20px;
}
.filters button{
  cursor: pointer;
}
.res-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 60px;
  flex-wrap: wrap;
}
.res-container a{
  text-decoration: none;
  color: black;
}
.res-card{
  width: 350px;
  border-radius: 20px;
  padding: 6px;
  margin: 10px 20px;
  border: 1px solid white;
}
.res-card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.res-img{
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.res-img img{
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 20px;
}
.res-info{
  padding:0 10px;
}
.res-name{
  font-size: 28px;
  font-weight: bold;
  margin-top: 8px;
}
.res-rating{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.res-extras{
  color: #535c68;
  margin-bottom: 8px;
}
.shimmer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 60px;
  flex-wrap: wrap;
}
.shimmer-card{
  margin: 10px 20px;
  padding: 6px;
  border-radius: 20px;
}
.shimmer-img{
  width: 350px;
  height: 250px;
  border-radius: 20px;
  background-color: #ecf0f1;
}
.shimmer-info{
  padding:0 10px;
}
.shimmer-name{
  width: 175px;
  height: 35px;
  background-color: #ecf0f1;
  margin: 8px 0 5px 0;
}
.shimmer-stars{
  width: 100px;
  height: 25px;
  background-color: #ecf0f1;
  margin: 5px 0 5px 0;
}
.shimmer-extras{
  width: 230px;
  height: 15px;
  background-color: #ecf0f1;
  margin: 5px 0 5px 0;
}
.res-details{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
  width: auto;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.name{
  font-weight: bold;
  font-size: 60px;
}
.rating, .time{
  margin-bottom: 8px;
}
.menu{
  margin: 10px 200px 10px 120px;
  /* border: 1px solid black; */
}
.menu h1, .category-heading{
  margin: 10px 40px;
}
.itemcard-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid lightgrey;
  padding: 0 40px;
}
.itemcard-heading button{
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: grey;
}
.item-card{
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content:left;
}
.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  height: 200px;
  overflow: hidden;
  margin: 0 5px;
}
.item-img{
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
}
.item-img img {
  width: 100%;
}
.item-details{
  display: flex;
  padding-left: 15px;
  flex-direction: column;
  width: 400px;
}
.item-heading{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.item-heading img {
  width: 25px;
  margin-right: 10px;
}
.item-price{
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.item-description{
  color: #535c68;
  padding-right: 20px;
  word-wrap: break-word;
  text-align: justify;
}
.read-more-button{
  border: none;
  background-color: transparent;
  color: #535c68;
  cursor: pointer;
  font-weight: bold;
}
.about{
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.user-box{
  display: flex;
  flex-direction: column;
}
.multiple-states, .user-data{
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 10px;
}
.multiple-states{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-bottom: 20px;
}
.multiple-states div{
  margin-bottom: 10px;
}
.multiple-states button{
  margin-right: 15px;
}
.user-data{
  width: 50%;
  border: 1px solid black;
}